<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../src/css/bancansu.css" />
    <title>Trang Ban Cán Sự</title>
  </head>
  <body>
    <div class="main">
      <%- include(header) %>
      <div class="container">
        <!-- Nộp bảng chấm điểm -->
        <div class="submit-mark">
          <div class="content">
            <h2>Đánh Giá Điểm Cá Nhân</h2>
            <button id="button-35">Nộp bảng điểm</button>
          </div>
        </div>
        <!-- Quản lí điểm -->
        <div class="manager">
          <div class="content">
            <h2>Quản Lí Lớp</h2>
            <button id="button-35"><a href="/danhsachbangdiem">Quản lí điểm rèn luyện</a></button>
            <button id="button-35">Quản lí hoạt động</button>
          </div>
        </div>
        <!-- Tra cứu -->
        <div class="tra_cuu">
          <div class="content">
            <h2>Tra Cứu Thông Tin</h2>
            <div class="nien_khoa">
              <p>Niên khóa</p>
              <div class="selectbox">
                <div class="select">
                  <select id="mySelect2">
                    <option value="">2022-2023</option>
                  </select>
                </div>
              </div>
              <button id="button-35">Chọn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
