<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/danh_gia_hoat_dong.css" />
  <title>Đánh Giá Hoạt Động Rèn Luyện</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">
      <div class="content">
        <div class="activity">
          <h2 style="padding: 1rem;">THÔNG TIN HOẠT ĐỘNG</h2>
          <h3 class="activity-content">Tên Hoạt Động</h3>
          <h3 class="activity-content">Cấp Độ</h3>
          <p class="activity-content">Mô tả hoạt động</p>
        </div>
      </div>
      <div class="content">
        <div class="evaluation">
          <table class="table">
            <thead>
              <tr>
                <th style="width: 5%">STT</th>
                <th style="width: 10%;">MSSV</th>
                <th style="width: 20%">Họ Và Tên</th>
                <th style="width: 5%">Tham Gia</th>
                <th style="width: 5%">Khen Thưởng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>2101364</td>
                <td>Nguyễn Lê Tấn Đạt</td>
                <td><input type="checkbox" name="" id=""></td>
                <td><input type="checkbox" name="" id=""></td>
              </tr>
              <tr>
                <td>1</td>
                <td>2101364</td>
                <td>Nguyễn Lê Tấn Đạt</td>
                <td><input type="checkbox" name="" id=""></td>
                <td><input type="checkbox" name="" id=""></td>
              </tr>
              <tr>
                <td>1</td>
                <td>2101364</td>
                <td>Nguyễn Lê Tấn Đạt</td>
                <td><input type="checkbox" name="" id=""></td>
                <td><input type="checkbox" name="" id=""></td>
              </tr>
              <tr>
                <td>1</td>
                <td>2101364</td>
                <td>Nguyễn Lê Tấn Đạt</td>
                <td><input type="checkbox" name="" id=""></td>
                <td><input type="checkbox" name="" id=""></td>
              </tr>
            </tbody>
          </table>
         
        </div>
      </div>
    </div>
  </div>
</body>

</html>