<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/doankhoa_menu.css">
</head>
<body>
    <details>
        <summary></summary>
        <nav class="menu">
          <a href="doan_khoa/quan_li_bm" class="menu_item">Bộ Môn</a>
          <div class="menu_item menu_item_more">
            <span>Lớp <i class="fa-solid fa-chevron-down"></i></span>
            <nav class="lop_item">
              <div class="menu_item lop_item_more"><a href="doan_khoa/quan_li_lop">Danh sách lớp</a></div>
              <div class="menu_item lop_item_more"><a href="doan_khoa/quan_li_cv">Danh sách cố vấn</a></div>
            </nav>
          </div>
          <div class="menu_item menu_item_more">
            <span>Sinh Viên <i class="fa-solid fa-chevron-down"></i></span>
            <nav class="lop_item">
              <div class="menu_item lop_item_more"><a href="doan_khoa/danhsachsinhvien">Danh sách sinh viên</a></div>
              <div class="menu_item lop_item_more"><a href="/doan_khoa/danhsachbangdiem">Điểm rèn luyện</a></div>
            </nav>
          </div>
          <a href="doan_khoa/quan_li_hoat_dong_khoa" class="menu_item">Hoạt Động</a>
          <a href="doan_khoa/thoihan" class="menu_item">Thời Hạn</a>
        </nav>
      </details>
      <script src="/src/JS/doankhoa_menu.js"></script>

</body>
</html>