<head>
  <link rel="stylesheet" href="/src/css/doankhoa_menu.css">
</head>

<body>
  <details>
    <summary><i class="fa-solid fa-bars"></i></summary>
    <nav class="menu">
      <a href="/doankhoa/quanlibomon" class="menu_item">Bộ Môn</a>
      <div class="menu_item menu_item_more">
        <span>Lớp <i class="fa-solid fa-chevron-down"></i></span>
        <nav class="lop_item">
          <div class="menu_item lop_item_more"><a href="/doankhoa/quanlilop">Danh sách lớp</a></div>
          <div class="menu_item lop_item_more"><a href="/doankhoa/quanlicv">Danh sách cố vấn</a></div>
        </nav>
      </div>
      <div class="menu_item menu_item_more">
        <span>Sinh Viên <i class="fa-solid fa-chevron-down"></i></span>
        <nav class="lop_item">
          <div class="menu_item lop_item_more"><a href="/doankhoa/danhsachsinhvien">Danh sách sinh viên</a></div>
          <div class="menu_item lop_item_more"><a href="/doankhoa/danhsachbangdiem">Điểm rèn luyện</a></div>
        </nav>
      </div>
      <a href="/doankhoa/quanlihoatdongkhoa" class="menu_item">Hoạt Động</a>
      <a href="/doankhoa/thoihan" class="menu_item">Thời Hạn</a>
    </nav>
  </details>
  <script src="/src/JS/doankhoa_menu.js"></script>

</body>