<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/doankhoa_menu.css">
</head>
<body>
    <details>
        <summary></summary>
        <nav class="menu">
          <div class="menu_item">Trang chủ</div>
          <div class="menu_item">Bộ Môn</div>
          <div class="menu_item">Lớp</div>
          <div class="menu_item">Sinh Viên</div>
          <div class="menu_item">Hoạt Động</div>
          <div class="menu_item">Thời Hạn</div>
        </nav>
      </details>
</body>
</html>