<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/doankhoa-index.css" />
  <title>Quản Lí Khoa</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">
      <%- include(menu) %>

      <!-- Quản lí thông tin -->
      <div class="manager manager__info">
        <div class="content content_top content__info">
          <h2>QUẢN LÍ THÔNG TIN</h2>
          <div class="group_btn">
            <a href="/doankhoa/quanlibomon">
              <button class="button-35" id="page-button">Quản lí Bộ môn</button>
            </a>
            <a href="/doankhoa/quanlilop">
              <button class="button-35" id="page-button">Quản lí Lớp</button>
            </a>
            <a href="/doankhoa/quanlicv">
              <button class="button-35" id="page-button">Quản lí Cố vấn</button>
            </a>
            <a href="/doankhoa/danhsachsinhvien">
              <button class="button-35" id="page-button">Quản lí Sinh viên</button>
            </a>
          </div>
        </div>
      </div>


      <!-- Quản lí rèn luyện -->
      <div class="manager manager__train">
        <div class="content content_top content__train">
          <h2>QUẢN LÍ RÈN LUYỆN</h2>
          <div class="group_btn">
            <a href="/doankhoa/danhsachbangdiem">
              <button class="button-35" id="page-button">Quản lí điểm</button>
            </a>
            <a href="/doankhoa/quanlihoatdongkhoa">
              <button class="button-35" id="page-button">Quản lí hoạt động</button>
            </a>
            <a href="/doankhoa/thoihan">
              <button class="button-35" id="page-button">Quản lí thời hạn</button>
            </a>
          </div>
        </div>
      </div>
      <div>
        <img style="width: 500px;
        margin: 0 auto;
        display: block;
        margin-top: 100px;" src="https://i.gifer.com/origin/20/2004213c6a0b0b8ed41ef6483855c3db_w200.webp" alt="">
      </div>

    </div>
  </div>
  <%- include(footer) %>
</body>

</html>