<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/css/doankhoa_menu.css">
</head>
<body>
    <details>
        <summary></summary>
        <nav class="menu">
          <div class="menu_item">Bộ Môn</div>
          <div class="menu_item">
            <span>Lớp</span>
            <nav class="lop_item">
              <div class="menu_item">Danh sách lớp</div>
              <div class="menu_item">Danh sách cố vấn</div>
            </nav>
          </div>
          <div class="menu_item">
            <span>Sinh Viên</span>
            <nav class="lop_item">
              <div class="menu_item">Danh sách sinh viên</div>
              <div class="menu_item">Điểm rèn luyện</div>
            </nav>
          </div>
          <div class="menu_item">Hoạt Động</div>
          <div class="menu_item">Thời Hạn</div>
        </nav>
      </details>
</body>
</html>