<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../src/css/edit_profile.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/b8977956b3.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  </head>

  <body>
    <div class="main">
      <%- include(header) %>
      <div class="container">
        <div class="porfile_container">
          <div class="porfile_container_item">
            <label class="info_lable" for="">Mã Số Sinh Viên </label
            ><input type="text" class="mssv info_input" />
          </div>
          <div class="porfile_container_item">
            <label class="info_lable" for="">Họ Và Tên</label
            ><input type="text" class="full_name info_input" />
          </div>
          <div class="porfile_container_item">
            <label class="info_lable" for="">Email</label>
            <input type="text" class="email info_input" />
          </div>

          <div class="porfile_container_item porfile_avatar">
            <label class="info_lable" for="">Ảnh đại diện</label>
            <div class="modal_wrap_img_item">
              <p>Drag and drop an image here, or click to upload.</p>

              <input type="file" class="upload-input" style="display: none" />
              <img class="up-img" />
              <button class="up-img-btn">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../src/JS/user_info.js"></script>
  </body>
</html>
