<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/footer.css">
</head>
<body>
    <div class="footer">
        <a class="a_logout" href="/api/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
        <a class="a_nhapdiemdanhgia" href="/nhapdiemdanhgia"><i class="fa-solid fa-square-pen"></i></a>
        <a class="a_change_pass" href="/profile/change_pass"><i class="fa-solid fa-key"></i></a>
        <a class="a_profile" href="/profile"><i class="fa-solid fa-user"></i></a>
    </div>
</body>
<script src="/src/JS/footer.js"></script>
</html>