<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/footer.css">
</head>
<body>
    <div class="footer">
        <a href="/api/logout"><i class="fa-solid fa-right-from-bracket"></i>
        </a>
        <a href="/nhapdiemdanhgia"><i class="fa-solid fa-square-pen"></i></a>
        <a href="/profile/change_pass"><i class="fa-solid fa-key"></i></a>
        <a href="/profile"><i class="fa-solid fa-user"></i></a>
    </div>
</body>
<script src="/src/JS/footer.js"></script>
</html>