<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thongbao</title>
    <link rel="stylesheet" href="/src/css/global-notifications.css" />
  </head>
  <body>
    <div class="toast">
      <div class="toast-content">
        <i class="fas fa-solid fa-check "></i>

        <div class="message">
          <span class="text text-1">null</span>
          <span class="text text-2">null</span>
        </div>
      </div>
      <i class="fa-solid fa-xmark close" id="close_thongbao"></i>

      <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
      <div class="progress active"></div>
    </div>
  </body>
  <script src ="/src/JS/global-notifications.js"></script>
</html>
