<head>

  <link rel="stylesheet" href="/src/css/global-notifications.css" />
</head>

<body>
  <div class="toast">
    <div class="toast-content">
      <i class="fas fa-solid fa-check "></i>

      <div class="message">
        <span class="text text-1">null</span>
        <span class="text text-2">null</span>
        <div class="button">
          <div class="not button-35">
            <i class="fa-solid fa-x"></i>
          </div>
          <div class="ok button-35">
            <i class="fa-solid fa-check"></i>
          </div>
        </div>
      </div>

    </div>
    <i class="fa-solid fa-xmark close" id="close_thongbao"></i>

    <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
    <div class="progress active"></div>
  </div>
</body>
<script src="/src/JS/global-notifications.js"></script>