<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Header</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/src/css/header.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>

</head>

<body>
  <div class="header">
    <div class="header-content">
      <div class="logo">
        <a href="/">
          <img src="https://sinhvien.ctuet.edu.vn/Content/AConfig/images/sv_logo_dashboard.png" alt="" />
        </a>
      </div>
      <div class="right-header">
        <a href="/"></a>
        <%if (avt){%>
        <a href="/nhapdiemdanhgia">Chấm điểm rèn luyện</a>
        <div class="avatar">
          <div class="avatar_wrap">
            <img src="<%=avt%>" alt="" />
            <p>
              <%=last_name+first_name%>
            </p>
          </div>

          <ul class="setting">
            <li><a href="/profile">Thông tin Cá Nhân</a></li>
            <li><a href="/api/logout">Đăng xuất</a></li>
          </ul>
        </div>
        <%}%>
      </div>
    </div>
  </div>
</body>
<script src="/src/JS/header.js"></script>

</html>