<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/table.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        mode: "jit",
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <link rel="stylesheet" href="../src/css/login.css" />
  </head>
  <body>
    <div class="main bg-[#e7ecf0]">
      <div class="header h-[60px] shadow-sm text-[#667580] bg-white">
        <div class="content flex max-w-[1170px] m-auto justify-between">
          <div class="left flex">
            <img
              src="https://sinhvien.ctuet.edu.vn/Content/AConfig/images/sv_logo_dashboard.png"
              alt=""
            />
          </div>
          <div class="right flex items-center">
            <p class="mr-6">Trang chủ</p>
            <p class="mr-6">Chấm điểm rèn luyện</p>
            <div class="user flex">
              <div class="avatar items-center flex">
                <img
                  class="w-[35px] h-[35px] rounded-full"
                  src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Mimus_polyglottus1_cropped.png/280px-Mimus_polyglottus1_cropped.png"
                  alt=""
                />
                <div class="name ml-3">Nguyễn Văn Phát</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="login-box">
          <form>
            <div class="user-box">
              <input type="text" name="" required="" />
              <label>Mã số sinh viên</label>
            </div>
            <div class="user-box">
              <input type="password" name="" required="" />
              <label>Mật khẩu</label>
            </div>
            <div class="checkbox-wrapper-4">
              <input type="checkbox" id="morning" class="inp-cbx" />
              <label for="morning" class="cbx"
                ><span> <svg height="10px" width="12px"></svg></span
                ><span>Tự động đăng nhập</span></label
              >
              <svg class="inline-svg">
                <symbol viewBox="0 0 12 10" id="check-4">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </symbol>
              </svg>
            </div>
            <center>
              <a href="#">
                Đăng nhập
                <span></span>
              </a>
            </center>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
