<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/table.css" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <!-- <script>
      tailwind.config = {
        mode: "jit",
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script> -->
    <link rel="stylesheet" href="../src/css/login.css" />
  </head>
  <body>
    <div class="main bg-[#e7ecf0]">
      <%- include(header) %>

      <div class="content">
        <div class="login-box">
          <form>
            <div class="user-box">
              <input type="text" name="" required="" />
              <label>Mã số sinh viên</label>
            </div>
            <div class="user-box">
              <input type="password" name="" required="" />
              <label>Mật khẩu</label>
            </div>
            <div class="checkbox-wrapper-4">
              <input type="checkbox" id="morning" class="inp-cbx" value="2" />
              <label for="morning" class="cbx"
                ><span> <svg height="10px" width="12px"></svg></span
                ><span>Tự động đăng nhập</span></label
              >
              <svg class="inline-svg">
                <symbol viewBox="0 0 12 10" id="check-4">
                  <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                </symbol>
              </svg>
            </div>
            <center>
              <a href="#">
                Đăng nhập
                <span></span>
              </a>
            </center>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
