<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/quan_li_bm.css" />
  <title>Quản Lí Bộ Môn</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">

      <div class="box-table">

        <!-- Button -->
        <div class="content container__button">
          <button class="button-35">Xoá Bộ Môn</button>
          <button class="button-35" id="add__subject">Thêm Bộ Môn</button>
        </div>

        <!-- Table -->
        <div class="content container__table">
          <table>
            <thead>
              <tr>
                <th></th> 
                <th>STT</th>
                <th style="width: 40%;">Tên Bộ Môn</th>
                <th style="width: 35%;">Khoa</th>
                <th>Cập Nhập</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                    <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>

                <td>
                  <a id="edit__subject" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                    <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                   <td>
                  <a id="edit__subject" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                    <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                   <td>
                  <a id="edit__subject" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                    <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                   <td>
                  <a id="edit__subject" href="#">Sửa</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal edit">
        <div class="modal_wrap edit">
          <div class="modal_main">

            <div class="content title">
              <h2 class="title-box">SỬA THÔNG TIN CỐ VẤN</h2>
            </div>

            <div class="content subtitle">
              <h3 class="sub-title name">Tên Bộ Môn</h3>
              <textarea name="" id="" cols="30" rows="3" placeholder="Nhập tên Bộ môn cần chỉnh sửa"></textarea>
            </div>

            <div class="content teacher__account">
              <h3 class="sub-title name">Khoa: Công Nghệ Thông Tin</h3>
            </div>

            <div>
              <main id="button-main">
                <div><button class="button-35">Hoàn Tác</button></div>
                <div><button class="button-35">Xong</button></div>
              </main>
            </div>
          </div>
        </div>
      </div>

      <div class="modal add">
        <div class="modal_wrap add">
          <div class="modal_main">
            <div class="content title">
              <h2 class="title-box">THÊM BỘ MÔN</h2>
            </div>

            <div class="content teacher__name">
              <h3 class="sub-title name">Tên Bộ Môn</h3>
              <textarea name="" id="" cols="30" rows="3" placeholder="Nhập tên Bộ môn mới (Bắt buộc)"></textarea>
            </div>

            <div class="content teacher__account">
              <h3 class="sub-title name">Khoa: Công Nghệ Thông Tin</h3>
            </div>

            <div>
              <main id="button-main">
                <div><button class="button-35">Hoàn Tác</button></div>
                <div><button class="button-35">Xong</button></div>
              </main>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <%- include(footer) %>
</body>

<script src="/src/JS/quan_li_bm.js"></script>

</html>