<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/quan_li_lop.css" />
  <title>Quản Lí Lớp</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">

      <div class="box-table">

        <!-- Button -->
        <div class="content container__button">
            <button class="button-35">Xoá Lớp</button>
            <button class="button-35" id="add__class">Thêm Lớp</button>
        </div>

        <!-- Table -->
        <div class="content container__table">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>STT</th>
                <th style="width: 15%;">Tên Lớp</th>
                <th style="width: 15%;">Bộ Môn</th>
                <th style="width: 10%;">Khoa</th>
                <th style="width: 20%;">Phân Công</th>
                <th>Cập Nhập</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row0" class="inp-cbx" value="2" />
                    <label for="row0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td style="width: 3%;">1</td>
                <td style="">KTPM0121</td>
                <td style="width: 20%;">Kỹ Thuật Phần Mềm</td>
                <td style="width: 10%;">CNTT</td>
                <td>
                  <div class="selectbox hoc_ky">
                    <div class="select">
                      <select>
                        <option value="1">Nguyễn Xuân Hà Giang</option>
                        <option value="2">Lâm Thanh Toản</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <a id="edit__class" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row1" class="inp-cbx" value="2" />
                    <label for="row1" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>KTPM0121</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                <td>
                  <div class="selectbox hoc_ky">
                    <div class="select">
                      <select>
                        <option value="1">Nguyễn Xuân Hà Giang</option>
                        <option value="2">Lâm Thanh Toản</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <a id="edit__class" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row2" class="inp-cbx" value="2" />
                    <label for="row2" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>KTPM0121</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                <td>
                  <div class="selectbox hoc_ky">
                    <div class="select">
                      <select>
                        <option value="1">Nguyễn Xuân Hà Giang</option>
                        <option value="2">Lâm Thanh Toản</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <a id="edit__class" href="#">Sửa</a>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row3" class="inp-cbx" value="2" />
                    <label for="row3" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td>KTPM0121</td>
                <td>Kỹ Thuật Phần Mềm</td>
                <td>CNTT</td>
                <td>
                  <div class="selectbox hoc_ky">
                    <div class="select">
                      <select>
                        <option value="1">Nguyễn Xuân Hà Giang</option>
                        <option value="2">Lâm Thanh Toản</option>
                      </select>
                    </div>
                  </div>
                </td>
                <td>
                  <a id="edit__class" href="#">Sửa</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="modal edit">
        <div class="modal_wrap edit">
          <div class="modal_main">

            <div class="content title">
              <h2 class="title-box">SỬA THÔNG TIN LỚP</h2>
            </div>

            <div class="content subtitle">
              <h3 class="sub-title name">Tên Lớp</h3>
              <textarea name="" id="" cols="30" rows="3" placeholder="Nhập Tên Lớp Sau Khi Chỉnh Sửa"></textarea>
            </div>

            <div>
              <div class="selectbox nien_khoa">
                <main id="select-main">
                  <div class="select">
                    <label for="select-level">Bộ Môn</label>
                    <select id="select-level">
                      <option value="KTPM-0121">Kỹ Thuật Phần Mềm</option>
                      <option value="KHDL">Khoa Học Dữ Liệu</option>
                      <option value="HTTT">Hệ Thống Thông Tin</option>
                      <option value="CNTT">Công Nghệ Thông Tin</option>
                    </select>
                  </div>
                </main>
              </div>
            </div>
            <div>
              <main id="button-main">
                <div><button class="button-35">Hoàn Tác</button></div>
                <div><button class="button-35">Xong</button></div>
              </main>
            </div>
          </div>
        </div>
      </div>

      <div class="modal add">
        <div class="modal_wrap add">
          <div class="modal_main">
            <div class="content title">
              <h2 class="title-box">THÊM LỚP</h2>
            </div>

            <div class="content subtitle">
              <h3 class="sub-title name">Tên Lớp</h3>
              <textarea name="" id="" cols="30" rows="3" placeholder="Nhập Tên Lớp Mới Cần Thêm (Bắt buộc)"></textarea>
            </div>

            <div>
              <div class="selectbox nien_khoa">
                <main id="select-main">

                  <div class="select">
                    <label for="select-level">Bộ Môn</label>
                    <select id="select-level">
                      <option value="KTPM-0121">Kỹ Thuật Phần Mềm</option>
                      <option value="KHDL">Khoa Học Dữ Liệu</option>
                      <option value="HTTT">Hệ Thống Thông Tin</option>
                      <option value="CNTT">Công Nghệ Thông Tin</option>
                    </select>
                  </div>
      
                </main>
              </div>
            </div>

            <div>
              <main id="button-main">
                <div><button class="button-35">Hoàn Tác</button></div>
                <div><button class="button-35">Xong</button></div>
              </main>
            </div>
          </div>
        </div>
      </div>
        
    </div>
  </div>
  <%- include(footer) %>
</body>

<script src="/src/JS/quan_li_lop.js"></script>
</html>