<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/sinhvien-activeregistration.css" />
  <title>Document</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <%- include(thongbao) %>
    <div class="container">
      <div class="content">
        <div class="activity-board">
          <h2>HOẠT ĐỘNG TÌM MẤY CON GHỆ ĐÍT BỰ </h2>

          <section class="activity_body">
            <div class="activity_body_details">
              <p>Chi tiết: hoạt động hỗ trợ các đồng đạo tìm bạn gái đít bự</p>
              <p>Cấp độ: khoa </p>
              <p>Điểm Danh: <span class="attendance">Đã Điểm Danh</span></p>
            </div>

            <!-- sau khi ghi danh -->
            <!-- <div class="activity_body_alert">
                        <h1>
                            RẤT TIẾC HOẠT ĐỘNG ĐÃ KẾT THÚC 
                        </h1>
                    </div> -->
            <!-- sau khi ghi danh -->


            <!--ghi danh -->
            <!-- <div class="activity_body_studentname">
                        <h1>
                            bạn gái đít bự 
                        </h1>
                    </div>
                    <button class="button-35 button-35-a activeregistration_btn">Ghi Danh</button> -->

            <!--diem danh -->
            <div class="activity_body_studentname">
              <h1>
                <%=displayName%>
              </h1>
            </div>
            <button class="button-35 up-btn post-btn">
              Tải ảnh
            </button>
            <button class="button-35 up-btn save-btn">
              Điểm Danh
            </button>
            <!--diem danh -->
          </section>

        </div>


        <div class="activity-board">
          <h2>HOẠT ĐỘNG TÌM MẤY CON GHỆ ĐÍT BỰ </h2>


          <table class="table" id="school_tb">
            <thead>
              <tr>
                <th style="width: 1%">
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0" class="inp-cbx all-cbx">
                    <label for="row__0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </th>
                <th style="width: 2%;">MSSV</th>
                <th style="width: 40%;">Họ Và Tên</th>
                <th style="width: 10%;">Khoa</th>
              </tr>
            </thead>
            <tbody>

              <tr class="atv_box">
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0__0" class="inp-cbx" value="18101911">
                    <label for="row__0__0" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>1</td>
                <td class="a_name">Hoạt động trường 1</td>
                <td class="school_year">HK1 2022-2023</td>

              </tr>


              <tr class="atv_box">
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0__1" class="inp-cbx" value="29091610">
                    <label for="row__0__1" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>2</td>
                <td class="a_name">Hoạt động trường 2</td>
                <td class="school_year">HK1 2022-2023</td>

              </tr>


              <tr class="atv_box">
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0__2" class="inp-cbx" value="09e9d942-85a8-428e-bc49-87bb4757bcc1">
                    <label for="row__0__2" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>3</td>
                <td class="a_name">Hoạt đông khoa 3</td>
                <td class="school_year">HK1 2022-2023</td>

              </tr>
              <tr class="copy_box">
              </tr>

              <tr class="atv_box">
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0__3" class="inp-cbx" value="7640dd67-8731-4ecb-b99c-60862216c49c">
                    <label for="row__0__3" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>4</td>
                <td class="a_name">Hoạt động trường 3</td>
                <td class="school_year">HK1 2022-2023</td>

              </tr>


              <tr class="atv_box">
                <td>
                  <div class="checkbox-wrapper-4">
                    <input type="checkbox" id="row__0__4" class="inp-cbx" value="b8aed8d1-15ef-49ea-a4b9-535829574499">
                    <label for="row__0__4" class="cbx"><span> <svg height="10px" width="12px"></svg></span>
                    </label>
                  </div>
                </td>
                <td>5</td>
                <td class="a_name">Hoạt động khoa j đó 2</td>
                <td class="school_year">HK1 2022-2023</td>

              </tr>


            </tbody>
          </table>
        </div>
        <!--ghi danh -->
      </div>
    </div>
    <%- include(footer) %>
  </div>
  <script src="/src/JS/sinhvien-activeregistration.js"></script>
</body>

<div class="modal">
  <div class="modal_wrap">
    <!-- nút tắt dialog -->
    <button class="close-dialog">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <!-- thêm hinh ảnh và mô tả hoạt động -->
    <div class="modal_img">
    </div>
    <div class="no-img">
      Số ảnh tối đa (<span>0</span>/5)
    </div>
    <div class="modal_img_btn">
      <button class="button-35 add-btn">Add</button>
      <button class="button-35 done-btn done-btn2">Done</button>
    </div>
  </div>
</div>

<div class="menu" onclick="this.classList.toggle('open')">
  <div class="button button_medium"><i class="fa-solid fa-star"></i></div>
  <div class="button button_plus"> <i class="fa-solid fa-star"></i></div>
  <div class="button button_premium"><i class="fa-solid fa-star"></i></div>
</div>

</html>