<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chấm Điểm Rèn Luyện</title>
  <link rel="stylesheet" href="/src/css/nhapbangdiem.css" />
  <link rel="stylesheet" href="/src/css/nhapbangdiem-responsive.css" />
</head>

<body >
  <div class="main ">
    <%- include(header) %>
    <%- include(thongbao) %>
    <div class="content">
      <div class="main-content m-auto">
        <h1 class="tittle-table">PHIẾU ĐÁNH GIÁ ĐIỂM RÈN LUYỆN</h1>
        <!-- <hr /> -->
        <!-- Table 1-->

        <table class="bang_cham_diem">
          <thead>
            <tr>
              <th>
                <p>Nội Dung Đánh Giá</p>
              </th>
              <th style="width: 12%">
                <p>Điểm Tối Đa</p>
              </th>
              <th style="width: 10%">
                <p>Điểm SV Tự Đánh Giá</p>               
              </th>
              <th style="width: 10%">
                <p>Tập Thể Lớp</p>
              </th>
              <th style="width: 12%">
                <p>Khoa Đánh Giá</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                
                  <p class="title">1. Đánh giá về ý thức học tập</p>
                
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value">
                  a. Ý thức, thái độ trong học tập.
                <p>(Nghỉ học 1 buổi không phép trừ 1 điểm; đi muộn hoặc bỏ
                  tiết mỗi 3 lần trừ 1 điểm)</p>
                </p>
              </td>
              <td>7 điểm
              </td>
              <td>
              </td>
              <td>
              <div class="score_1">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  b. Tham gia các câu lạc bộ học thuật; các hoạt động học
                  thuật; hoạt động ngoại khóa; hoạt động nghiên cứu khoa học
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_02" name="score_02">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2" selected="">2</option>
                </select> -->
              <div class="score_1">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  c. Ý thức thực hiện tốt quy chế khi tham gia các kỳ thi.
                  cuộc thi
                </p>
              </td>
              <td>4 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_03" name="score_03">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4" selected="">4</option>
                </select> -->
              <div class="score_1">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị nhắc nhở khi thi, kiểm tra
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị lập biên bản xử lý khi thi và kiểm tra
                </p>
              </td>
              <td>0 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  d. Có tinh thần vượt khó, phấn đấu vươn lên trong học tập
                </p>
              </td>
              <td>2 điểm               
              </td>
              <td>
              </td>
              <td>
              <div class="score_1">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  đ. Đạt kết quả cao trong học tập
                </p>
              </td>
              <td>5 điểm               
              </td>
              <td>
              </td>
              <td id="score_">0 điểm                
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Loại Trung bình: Điểm số từ 2.0 đến 2.49
                </p>
              </td>
              <td>2 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Loại Khá: Điểm số từ 2.5 đến 3.19
                </p>
              </td>
              <td>3 điểm              
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Loại Giỏi: Điểm số từ 3.2 đến 3.59
                </p>
              </td>
              <td>4 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Loại Xuất sắc: Điểm số từ 3.6 đến 4.0
                </p>
              </td>
              <td>5 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  Điểm tối đa nội dung 1 là 20 điểm
                </p>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_muc_1" >0 điểm
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                
                  <p class="title">2. Đánh giá về ý thức và kết quả chấp hành nội quy, quy
                    chế, quy định trong nhà trường</p>
                
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  a. Ý thức chấp hành các văn bản chỉ đạo của ngành, của cơ
                  quan chỉ đạo cấp trên được thực hiện trong nhà trường.
                </p>
              </td>
              <td>15 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_06" name="score_06">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                  <option value="13">13</option>
                  <option value="14">14</option>
                  <option value="15" selected="">15</option>
                </select> -->
              <div class="score_2">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị nhắc nhở trong việc thực hiện
                </p>
              </td>
              <td>10 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị xử lý kỷ luật từ mức khiển trách trở lên
                </p>
              </td>
              <td>0 điểm              
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  b. Ý thức chấp hành tốt, đầy đủ các nội quy, quy chế và
                  các quy định khác của nhà trường
                </p>
              </td>
              <td>10 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_07" name="score_07">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10" selected="">10</option>
                </select> -->
              <div class="score_2">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị nhắc nhở trong việc thực hiện
                </p>
              </td>
              <td>5 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Bị xử lý kỷ luật từ mức khiển trách trở lên
                </p>
              </td>
              <td>0 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  Điểm tối đa nội dung 2 là 25 điểm
                </p>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_muc_2" >
                0 điểm
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                
                  <p class="title">3. Đánh giá về ý thức và kết quả tham gia các hoạt động
                    chính trị, xã hội, văn hoá, văn nghệ, thể thao, phòng
                    chống tội phạm và các tệ nạn xã hội</p>
                
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  a. Tham gia tích cực các hoạt động chính trị, xã hội, văn
                  hoá, văn nghệ, thể thao và có sự trưởng thành của bản thân
                  qua các hoạt động rèn luyện:
                </p>
              </td>
              <td>8 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_08" name="score_08">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8" selected="">8</option>
                </select> -->
              <div class="score_3">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Tích cực tham gia các hoạt động chính trị, xã hội, văn
                  hoá, văn nghệ, thể thao
                </p>
              </td>
              <td>5 điểm              
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  - Được kết nạp Đảng hoặc đạt danh hiệu Đoàn viên ưu tú
                  hoặc đạt giải Nhất, Nhì, Ba trong các hoạt động chính trị,
                  văn hóa, thể thao từ cấp trường trở lên
                </p>
              </td>
              <td>8 điểm               
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  b. Tích cực tham gia các hoạt động công ích, tình nguyện,
                  công tác xã hội
                </p>
              </td>
              <td>6 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_09" name="score_09">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6" selected="">6</option>
                </select> -->
              <div class="score_3">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  c. Tham gia tuyên truyền, phòng chống tội phạm, các tệ nạn
                  xã hội và các hoạt động khác do lớp, khoa, trường, các
                  đoàn thể, địa phương tổ chức
                </p>
              </td>
              <td>6 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_10" name="score_10">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6" selected="">6</option>
                </select> -->
              <div class="score_3">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p >
                  Điểm tối đa nội dung 3 là 20 điểm
                </p>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_muc_3" >
                0 điểm
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                
                  <p class="title">4. Đánh giá về ý thức công dân trong quan hệ cộng
                    đồng</p>
                
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  a. Chấp hành và tham gia tuyên truyền các chủ trương của
                  Đảng, chính sách, pháp luật của Nhà nước tại nơi cư trú
                </p>
              </td>
              <td>10 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_11" name="score_11">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10" selected="">10</option>
                </select> -->
              <div class="score_3">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  b. Được ghi nhận, biểu dương, khen thưởng về tham gia các
                  hoạt động xã hội
                </p>
              </td>
              <td>5 điểm               
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_12" name="score_12">
                  <option value="0" selected="">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select> -->
              <div class="score_3">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  c. Có tinh thần chia sẻ, giúp đỡ bạn bè, người thân, người
                  có hoàn cảnh khó khăn, hoạn nạn.
                </p>
              </td>
              <td>10 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_13" name="score_13">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10" selected="">10</option>
                </select> -->
              <div class="score_4">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p >
                  Điểm tối đa nội dung 4 là 25 điểm</p>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_muc_4" >
                0 điểm
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                
                  <p class="title" style="font-size: 1.5rem;">5. Đánh giá về ý thức và kết quả tham gia công tác phụ
                    trách lớp, các đoàn thể, tổ chức trong nhà trường hoặc
                    đạt được thành tích đặc biệt trong học tập, rèn luyện
                    của học sinh, sinh viên</p>
                
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  a. Tham gia tích cực vào phong trào của Lớp, Đoàn, Hội
                  sinh viên và các công tác đoàn thể xã hội khác
                </p>
              </td>
              <td>3 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_14" name="score_14">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3" selected="">3</option>
                </select> -->
              <div class="score_5">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  b. Phát huy vai trò và hoàn thành tốt nhiệm vụ người cán
                  bộ Chi đoàn, Lớp, Câu lạc bộ, Đội tự quản
                </p>
              </td>
              <td>3 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_15" name="score_15">
                  <option value="0" selected="">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select> -->
              <div class="score_5">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  c. Đảm nhiệm, đóng góp có hiệu quả cho công tác Đoàn
                  trường, Hội sinh viên, Liên chi đoàn, Đội tự quản, Câu lạc
                  bộ
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_16" name="score_16">
                  <option value="0">0</option>
                  <option value="1">1</option>
                  <option value="2" selected="">2</option>
                </select> -->
              <div class="score_5">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >
                  d. Được biểu dương, khen thưởng vì có thành tích đặc biệt
                  trong học tập, rèn luyện và các hoạt động khác
                </p>
              </td>
              <td>2 điểm
              </td>
              <td>
              </td>
              <td>
                <!-- <select style="width: 80%" class="comboMark" id="score_17" name="score_17">
                  <option value="0" selected="">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                </select> -->
              <div class="score_5">1</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >- Cấp khoa</p>
              </td>
              <td>1 điểm
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p class="first-column-value" >- Cấp trường trở lên</p>
              </td>
              <td>2 điểm
              </td>
              <td>
              </td>
              <td>
                <div class="check_score">check</div>
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p >
                  Điểm tối đa nội dung 5 là 10 điểm
                  </>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_muc_5" >
                0 điểm
              </td>
              <td>
              </td>
            </tr>
            <tr>
              <td>
                <p>
                  Tổng điểm tối đa: 100 điểm
                </p>
              </td>
              <td>
              </td>
              <td>
              </td>
              <td id="total_all">0 điểm
              </td>
              <td>
              </td>
            </tr>
      </tbody>
      </table>

      <!-- LOAD IMAGE BUTTON -->
      <div class="complete_img">
      </div>
    </div>
  </div>
  </div>
  <%- include(footer) %>
  <script src="/src/JS/sinhvienxemdiem.js"></script>
  <script>
    setscore(<%=JSON.stringify(Score.second)%>)
    
  </script>
</body>

<div class="modal">
  <div class="modal_wrap">
    <!-- nút tắt dialog -->
    <button class="close-dialog">
      <i class="fa-solid fa-xmark"></i>
    </button>
    <!-- thêm hinh ảnh và mô tả hoạt động -->
    <div class="modal_img">
    </div>
    <div class="no-img">
      Số ảnh tối đa (<span>0</span>/5)
    </div>
    <div class="modal_img_btn">
      <button class="button-35 add-btn">Add</button>
      <button class="button-35 done-btn done-btn2">Done</button>
    </div>
  </div>

</html>