<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/bancansu-index.css" />
  <link rel="stylesheet" href="/src/css/bancansu-index-responsive.css" />
  <title>Trang Ban Cán Sự</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">

      <!-- Quản lí điểm -->
      <div class="manager">
        <div class="content">
          <h2>QUẢN LÍ LỚP HỌC</h2>
          <a href="/bancansu/danhsachbangdiem"><button class="button-35">Quản lí điểm rèn luyện</button></a>
          <a href="/bancansu/quanlihoatdong"><button class="button-35">Quản lí hoạt động</button></a>
          <a href="/giaovien/quanlyquyen"><button class="button-35">Quản lí quyền</button></a>
        </div>
      </div>

      
    </div>
    <%- include(footer) %>
  </div>
</body>

</html>