<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/tracuu.css" />
  <title>Tra cứu</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
      <div class="container">
        <!-- Nộp bảng điểm -->
        <!-- Nộp bảng chấm điểm -->
        <div class="submit-mark">
          <div class="content">
            <h2>Đánh Giá Điểm Cá Nhân</h2>
            <button id="page-button">Nộp bảng điểm</button>
          </div>
          <!-- <div class="submit-button">
            <button>Nộp bảng điểm</button>
          </div> -->
        </div>
        <!-- Tra cứu thông tin cá nhân -->
        <div class="tra_cuu">
          <div class="content">
            <h2>Tra Cứu Thông Tin</h2>
            <div class="nien_khoa">
              <p>Niên khóa</p>
              <div class="selectbox">
                <div class="select">
                  <select id="mySelect2">
                    <option value="">2022-2023</option>
                  </select>
                </div>
              </div>
              <button id="page-button">Chọn</button>
            </div>
          </div>
        </div>
      </div>
  </div>
  <%- include(footer) %>
</body>

</html>