<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/src/css/tracuu.css" />
  <title>Tra cứu</title>
</head>

<body>
  <div class="main">
    <%- include(header) %>
    <div class="container">
      <!-- Nộp bảng điểm -->
      <!-- Nộp bảng chấm điểm -->
      <div class="submit-mark">
        <div class="content">
          <h2>ĐÁNH GIÁ BẢNG ĐIỂM CÁ NHÂN</h2>
          <a href="/nhapdiemdanhgia">
            <button class="button-35" id="page-button">Nộp bảng điểm</button>
          </a>
        </div>
        <!-- <div class="submit-button">
            <button>Nộp bảng điểm</button>
          </div> -->
      </div>
      <!-- Tra cứu thông tin cá nhân -->
      <div class="tra-cuu">
        <div class="content">
          <h2>TRA CỨU THÔNG TIN</h2>
          <div class="nien-khoa">
            <p>Niên khóa</p>
            <div class="selectbox">
              <div class="select">
                <select id="mySelect2">
                  <option value="">2022-2023</option>
                </select>
              </div>
            </div>
            <button class="button-35" id="page-button">Chọn</button>
          </div>
          <div class="sub-container">
            <div class="mark-box">
              <!-- <h3 class="title-box">Điểm Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr style="display: table-row;">
                    <th style="width: 22%;">Học Kỳ I</th>
                    <th style="width: 48%;">Tổng Điểm Rèn Luyện</th>
                    <th style="width: 14%;">Chi Tiết</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>9x</td>
                    <td><a href="xxxx">Xem Bảng Điểm</a></td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>9x</td>
                    <td><a href="xxxx">Xem Bảng Điểm</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="activity-box">
              <!-- <h3 class="title-box">Hoạt Động Rèn Luyện</h3> -->
              <table>
                <thead>
                  <tr>
                    <th style="width: 3%;">STT</th>
                    <th style="width: 5%;">Học Kỳ</th>
                    <th style="width: 30%;">Tên Hoạt Động</th>
                    <th style="width: 10%;">Cấp Độ</th>
                    <th style="width: 5%;">Tham Gia</th>
                    <th style="width: 5%;">Khen Thưởng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>I</td>
                    <td>Hoạt Động xxx</td>
                    <td>Cấp xxx</td>
                    <td>x</td>
                    <td>x</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include(footer) %>
</body>

</html>