<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Xác nhận mã OTP</title>
  <!-- <link rel="stylesheet" href="/src/css/table.css" /> -->
  <link rel="stylesheet" href="/src/css/xacthucOTP.css" />
  <link rel="stylesheet" href="/src/css/xacthucOTP-responsive.css" />
</head>

<body>
  <div class="main bg-[#e7ecf0]">
    <%- include(header) %>

    <div class="content">
        <form action="javascript: void(0)" class="otp-form" name="otp-form">
  
            <div class="title">
              <h3>Xác minh OTP</h3>
              <p class="info">Mã OTP đã được gửi tới ********k876@gmail.com</p>
              <p class="msg">Vui lòng nhập OTP để xác minh</p>
            </div>
            <div class="otp-input-fields">
              <input type="number" class="otp__digit otp__field__1">
              <input type="number" class="otp__digit otp__field__2">
              <input type="number" class="otp__digit otp__field__3">
              <input type="number" class="otp__digit otp__field__4">
              <input type="number" class="otp__digit otp__field__5">
              <input type="number" class="otp__digit otp__field__6">
            </div>
            
            <div class="result">
                <a class="otp_again">Gửi lại OTP</a>
                <p id="_otp" class="_notok">... </p>
                <button class="button-35" id="page-button">Xác nhận</button>
            </div>

          </form>
    </div>
  </div>
</body>
<script src="/src/JS/xacthucOTP.js"></script>

</html>