@media screen and (max-width:820px) and (min-width:601px) {}

@media screen and (max-width:600px) {
    .container {
        padding-bottom: 8rem;
    }

    .column1 {
        width: 11% !important;
    }

    .column2 {
        width: 26% !important;
    }

    .a_nhapdiemdanhgia{
        visibility: hidden;
        width: 0 !important;
        height: 0;
        padding: 0 !important;
    }
    .content__info a{
        display: block;
    width: 100%;
    }
    .content__info a .button-35{
        width: 75%;
    }
}