@media screen and (max-width: 820px) and (min-width: 601px) {
    #button-main {
        gap: 0;
        margin: 2rem 0rem 0rem 43rem;
    }
    .close_modal {
        top: -7px;
        right: -7px;
        font-size: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .modal_main {
        height: auto;
    }
    .content {
        padding: 0;
        margin-bottom: 100px;
    }
    .select::after {
        right: 0%;
    }
    .table {
        overflow: auto;
        display: block;
    }
    label {
        font-size: 1.3rem;
    }
    .modal_wrap {
        width: 100%;
    }
    #button-main {
        margin: 5rem 0;
        justify-content: space-between;
    }
    .select_year {
        margin-top: 2rem;
    }
    textarea {
        width: 100%;
        padding: 0.5rem;
        margin: 1rem 0;
        font-size: 15px;
        box-sizing: border-box;
    }

    .title-box {
        margin: 2rem 0;
        text-align: center;
    }
    .select label {
        margin-right: 1rem;
    }
    .close_modal {
        top: -7px;
        font-size: 2rem;
    }
    .nien_khoa #select-main {
        display: flex;
        flex-wrap: wrap;
    }
    .activity_class {
        margin-bottom: 100px;
    }
    .select_ctn {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .content .hk_nk {
        display: flex;
        flex-direction: column;
    }
    .control{
        display: flex;
        justify-content: space-between;
    }
}
