* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
.content {
  max-width: 91rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: beige; */
}
.content .hoc_ky {
  font-size: 2rem;
  padding: 1rem;
}
.danh_sach_bang_diem {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff;
  font-size: 1.6rem;
}
.danh_sach_bang_diem .btn_xuat_bao_cao {
  background-color: #000;
  color: #fff;
  padding: 1.4rem 2.8rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
}
.danh_sach_bang_diem .chu_thich {
  margin: 2rem 0;
}
.danh_sach_bang_diem .dau_sao {
  display: inline-block;
  color: red;
  width: 1.5rem;
}
.danh_sach_bang_diem .mau_vang {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: yellow;
}

.select select {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  appearance: none;
  outline: 1rem red;
  border: 0;
  box-shadow: none;
  flex: 1;
  background-image: none;
  background-color: inherit;
  /* color: #fff; */
  cursor: pointer;
}
.selectbox {
  display: inline-block;
}
.select {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100px;
  border-radius: 0.25em;
  overflow: hidden;
}

.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 1.6rem;
  /* padding: 1em; */
  background-color: inherit;
  transition: 0.25s all ease;
  pointer-events: none;
}

.select:hover::after {
  /* color: #f39c12; */
  color: rgb(143, 213, 229);
}
