
.content{
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
    box-sizing: border-box;
}
.content .lop{
    font-size: 2rem;
}
.chitiet{
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.8rem;
}
.chitiet .control{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

th{
    font-size: 2rem;
  }
td{
  font-size: 1.6rem;
  }
th, td{
    padding: 1rem;
  }
tr td:nth-child(1), tr td:nth-child(2), tr td:nth-child(6), tr td:nth-child(7), tr td:nth-child(8), tr td:nth-child(9){
    text-align: center;
} 
tr td:nth-child(4){
    text-transform: uppercase;
}