@media screen and (max-width: 600px) {
    .table_container {
        overflow: auto;
    }

    table {
        width: 83rem;
    }

    table tr td:nth-child(9) {
        padding: 24px;
    }

    .button-35 {
        font-size: 1.5rem !important;
    }

    .haha .load_list_btn {
        margin: 0 !important;
    }

    .container {
        margin-bottom: 12rem;
    }

    .content .hk_nk {
        display: flex;
        flex-direction: column;
    }

    .load_list_btn {
        width: 12.5rem;
        height: 4rem;
    }

    .load_list_btn_container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .first_child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom: 2rem; */
    }

    .control {
        flex-direction: column;
    }

    .button-35 {
        margin: 1rem 5rem !important;
    }

    .year_full {
        display: block;
        padding: 0 1rem;
        width: 100%;
    }

    .hk {
        width: 100%;
        margin-bottom: 0;
    }

    .danh_sach_bang_diem {
        overflow: auto;
    }

    .content .hk_nk {
        padding: 0 0.5rem;
        gap: 0;
    }

    .year_full {
        flex-direction: column;
    }

    .button-35-a {
        position: revert !important;
        width: 95%;

        margin: 1rem !important;
    }

    .hk span {
        width: 25%;
    }

    .hk {
        width: 100%;
        justify-content: space-between;
    }

    .btn_choice {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    .button-35-a {
        width: auto;
        padding: 1.5rem 4rem !important;
        display: block;
        margin-top: 2rem !important;
        position: unset !important;
    }
}

.content .hk_nk {
    width: 100% !important;
}