html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

/* css tra cứu */
.box-table {
    margin-top: 2rem;
    max-width: 90rem;
    background-color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
    padding: 20px 30px;
}

.group_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    padding: 0 1rem;
}

.search_wrap label {
    color: var(--header-text);
    font-size: 14px;
}

.search_wrap input {
    margin-left: .5em;
    color: var(--header-text);
    display: inline-block;
    width: auto;
    height: 22px;
    width: 82%;
    padding: .25rem .5rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: .2rem;
    outline-offset: -2px;
    -webkit-appearance: none;
    border: 1px solid #7c7c7c;
    border-radius: 5px;
}

.search_wrap input:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(78, 115, 223, .25);
}

.content p {
    display: inline-block;
    font-size: 1.8rem;
}

.table {
    margin-top: 3rem;
}

th {
    font-size: 2rem;
}

td {
    font-size: 1.6rem;
    text-align: start !important;
}

.nums {
    text-align: center !important;
}

td:last-of-type {
    text-align: center !important;
}

th,
td {
    padding: 1rem;
}

/* css table */
table,
th,
td {
    border: 1px solid var(--black-color);
    border-collapse: collapse;
}

th {
    font-size: 2rem;
}

td {
    font-size: 1.6rem;
    text-align: center;
}

th,
td {
    padding: 1rem;
}

/* modal */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--model-color);
    display: none;
}

.modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 500px;
    width: 95%;
    background: var(--white-color);
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);
}

.add_teacher {
    display: flex;
    margin: 3rem 0;
    align-items: center;
}

.sub-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.modal_main {
    padding: 10px;
    height: fit-content;
    overflow: auto;
}

.cbx {
    width: auto;
}

label {
    width: 15rem;
    font-size: 1.8rem;
    font-weight: 600;
}

/* content title */

/* content subject */
.content--fullname,
.content--account {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

/* input text */
.name--input,
.account--input {
    flex: 1;
    line-height: 3.5rem;
    padding: 0 2rem;
    border-radius: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: var(--input-hover);
    transition: box-shadow 0.1s linear;
}

.content--button {
    display: flex;
    margin: 3rem 0rem 0rem 20rem;
    justify-content: flex-end;
}

.name--input:hover,
.account--input:hover {
    background-color: var(--button-color);
    color: var(--black-text);
}

.name--input::placeholder,
.account--input::placeholder {
    color: var(--input-placeholder);
}

.nien_khoa {
    width: 96%;
    padding: 1rem;
}

#button-main {
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
}

.add_teacher_lable {
    width: 32%;
}

.selectbox {
    margin: 0 !important;
}

.change_info {
    padding: 3rem 0;
}

.add_teacher_model {
    padding: 3rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.pagination {
    margin: 20px 0;
    background: #fff;
    text-align: center;

}

.pagination ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* padding: 8px; */
    border-radius: 5px;
    justify-content: center;
    /* box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1); */
}

.pagination ul li {
    color: #1b57c6;
    list-style: none;
    line-height: 45px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.pagination ul li.numb {
    list-style: none;
    height: 45px;
    width: 45px;
    margin: 0 3px;
    line-height: 45px;
    border-radius: 50%;
}

.pagination ul li.numb.first {
    margin: 0px 3px 0 -5px;
}

.pagination ul li.numb.last {
    margin: 0px -5px 0 3px;
}

.pagination ul li.dots {
    font-size: 22px;
    cursor: default;
}

.pagination ul li.btn {
    padding: 0 20px;
    border-radius: 50px;
}

.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover {
    color: #fff !important;
    background: #1b57c6;
}