@media screen and (max-width:600px) {
    .content--department{
            margin: 4rem 0 0 0;
    }
    .modal_wrap{
        width: 90%;
    }
    .modal_main{
        padding: 2.8rem 1.8rem 1.2rem;
    }

    .content--subject{
        margin: 0;
        margin-top: 1rem;
        align-items: flex-start;
        flex-direction: column;

    }
    .content__subject{
        margin-bottom: 1rem;
    }
    .subject--name input{
        margin: 0;
    }
    .content--button{
        margin: 0;
        gap: 20px;
        justify-content: center;
    }
    .content--button .button-35{
        padding: 2rem 4.2rem;
    }
}