* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }
  
  .close_modal {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 2rem;
    border: 1px solid #ececec;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    cursor: pointer;
    background: #fff;
    box-shadow: 4px 2px 8px;
  }
  .close_modal:hover{
    background-color: #bdbdbd;
  }
  
  .content {
    max-width: 91rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
  }
  
  .content .hk_nk {
    font-size: 2rem;
    padding: 1rem;
  }
  
  /* activity-board */
  
  
  .activity-board {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    font-size: 1.6rem;
    border-radius: 0.8rem;
  }
  
  .table {
    margin-top: 3rem;
  }
  
  
  th {
    font-size: 2rem;
  }
  
  td {
    font-size: 1.6rem;
    text-align: center;
  }
  
  th,
  td {
    padding: 1rem;
  }
  
  a {
    color: black;
  }
  
  /* css table */
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  th {
    font-size: 2rem;
  }
  
  td {
    font-size: 1.6rem;
    text-align: center;
  }
  
  th,
  td {
    padding: 1rem;
  }
  
  table tr td:nth-child(7) {
    text-align: center;
  }
  
  table tr td:nth-child(9) {
  
    padding: 0;
  }
  
  table tr td:nth-child(9) a {
    text-decoration: none;
    color: rgb(117, 117, 255);
  }
  
  th {
    background-color: rgb(241, 241, 241);
  }
  
  tr:nth-child(even) {
    background-color: rgb(241, 241, 241);
  }
  
  tr:nth-child(odd) {
    background-color: #ffffff;
  }
  
  tr:hover {
    background-color: rgba(158, 158, 158, 0.507);
  }
  
  
  /* modal */
  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(233, 233, 233, .6);
    display: none;
  }
  
  .modal_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 800px;
    width: 95%;
    background: #fff;
    border-radius: 0.8rem;
    transform: translate(-50%, -50%);
  
  }
  
  .modal_main {
    padding: 10px;
    height: 550px;
    overflow: auto;
  }
  
  .title-box {
    font-size: 2rem;
  }
  
  .sub-title {
    font-size: 1.5rem;
  }
  
  textarea {
    width: 97%;
    padding: 1rem;
    margin: 1rem 1rem 0rem 0rem;
    border-radius: 0.8rem;
  }
  
  /* Tùy chỉnh chú mờ */
  textarea::placeholder {
    color: rgba(128, 128, 128, 0.5);
    /* Xám mờ với alpha 0.5 */
    font-style: italic;
  }
  
  .content.selection {
    display: flex;
  }
  
  label {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Để tạo khoảng cách giữa label và select */
    font-size: 1.8rem;
  }
  
  #select-main {
    display: flex;
    gap: 5rem;
  }
  
  #button-main {
    display: flex;
    gap: 3rem;
    margin: 2rem 0rem 0rem 50rem;
  }