html {
  font-size: 62.5%;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: #e7ecf0;
}

.container {
  width: 120rem;
  background: #fff;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.8rem;
}

.porfile_container_item {
  display: flex;
  justify-content: space-between;
  margin: 3rem 2rem;
  min-height: 4rem;
}

.porfile_container {
  display: flex;
  justify-content: space-between;
}

.porfile_avatar {
  flex: 1;
  flex-direction: column;
  position: relative;
}

.info_lable {
  font-size: 2rem;
  line-height: 2;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.info_input {
  padding: 0 2rem;
  width: 50%;
  border-radius: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #d9d9d982;
  transition: box-shadow 0.1s linear;
}

.info_input:hover {
  cursor: pointer;
  background-color: #ffffff82;
}

.porfile_container {
  padding: 2rem;
}

.modal_wrap_img_item {
  /* margin-top: 3rem; */
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
}

.modal_wrap_img_item:hover p {
  top: 75%;
}

.modal_wrap_img_item:hover .up-img-btn {
  z-index: 3;
}

.modal_wrap_img_item p {
  border-radius: 8px;
  position: absolute;
  z-index: 4;
  top: 100%;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  transition: 0.3s top ease-in-out;
  background-color: #aeaeae;
}

.modal_wrap_img_item {
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 0.2rem dashed black;
}

.up-img {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  cursor: pointer;
  margin: 0;
  z-index: 2;
  position: absolute;
  object-fit: cover;
}

.up-img:active {
  background: #9d9d9d;
}

.up-btn {
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
  margin-right: 1rem;
  margin-bottom: 3rem;
  border-radius: 0.8rem;
}

.up-img i {
  font-size: 2rem;
  color: #515050;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: #aeaeaebf;
}

/* CSS cho dialog thêm ảnh */
.modal_wrap {
  position: relative;
  bottom: 45rem;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 90rem;
  height: 50rem;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.close-dialog {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.drop_img {
  width: 4.5rem;
  /* height: 100%; */
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0.1rem 0.1rem 0, 3rem rgba(0, 0, 0, 0.15);
  float: right;
  position: relative;
  justify-content: center;
  font-size: 2rem;
  color: #5c5c5c;
  border-radius: 0.8rem;
}

.complete_img {
  display: flex;
  justify-content: flex-end;
}

.drop_img:hover {
  background: #9e9e9e;
  color: white;
}

.modal_img {
  margin-top: 4rem;
  height: 80%;
  overflow: auto;
}

.modal_wrap_img {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
}

.up-img-btn {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #667580;
  cursor: pointer;
}

.modal_img_btn {
  background-color: #aeaeae;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.modal_img_btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3.5rem;
  background-color: #515050;
  color: #fff;
  text-align: center;
  margin-right: 2rem;
  width: 9rem;
  height: 5rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.bt_av {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 17rem; */
  justify-content: space-around;
  /* margin-top: -2rem; */
}

.profile_btn_gr {
  width: 30%;
  display: flex;
  justify-content: flex-end;

}

.profile_btn_gr_parent {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 4rem;
}

.button-35 {
  width: 13rem;
  height: 5rem;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 1rem;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 9px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.profile_btn_logoutall {
  width: 30rem;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.profile_title {
  padding: 4rem 0;
  font-size: 2rem;
  text-align: center;
  border-bottom: 0.1rem solid;
  border-color: #aeaeae;
}

.right_container {
  flex: 2;
  margin-top: 1rem
}