@media screen and (max-width: 600px) {
    .otp-input-fields input {
        height: 5rem;
        width: 5rem;
    }
    .otp-input-fields {
        width: 80%;
    }
    .title p.msg {
        margin-left: 2rem;
    }
    .otp_again {
        margin-right: 0.5rem;
        font-size: 1.3rem;
    }
    .content {
        width: 100%;
    }
    .otp-form {
        width: 95%;
    }
    .no_sv {
        font-size: 2.3rem;
    }
}
