*{
    padding: 0;
    margin: 0;
    /* margin-bottom: 7rem; */
    box-sizing: content-box;
}
.footer{
    display: none;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    height: 60px;
}

.footer a{
    display: inline-block;
    padding: 1rem;
    width: 33.3333%;
    text-align: center;
}
.footer a i{
    font-size: 3.4rem;
    color: #313131;
    transition: color 0.2s ease-in-out;
}
.footer a i:active{
    color: #0000ffa3 !important;
}
.active{
    color: #0000ffa3 !important;
}
@media screen and (max-width: 600px){
    .footer{
        display: flex;
    }
}