/* popup */

:root {
  --color_i: #000
}

.toast {
  z-index: 99999999999999999;
  display: flex;
  position: fixed;
  top: 17%;
  right: 3rem;
  border-radius: 1.2rem;
  background: white;
  padding: 2rem 3.5rem 2rem 2.5rem;
  box-shadow: 0 0.6rem 2rem -0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 3rem));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  box-shadow: 20px 10px rgba(0, 0, 0, .15);
}

.toast:hover {
  box-shadow: 13px 8px rgba(0, 0, 0, .15);

}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  min-width: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  border: 3px solid var(--color_i);
  color: var(--color_i);
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.message .text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #666666;
}

.text-2 {
  width: 290px;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close1 {
  padding: 0.5rem;
  cursor: pointer;
  opacity: 0.7;
  color: black;
}

#close_thongbao {
  font-size: 17px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.toast .close1:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.3rem;
  width: 100%;
  background-color: var(--color_i);
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 200%;
  height: 100%;
  width: 100%;
  background-color: rgb(161, 161, 161);
}

/* .active:before {
  animation: progress 5s linear forwards;
} */

@keyframes progress {
  100% {
    right: 0;
  }
}

/* popup */


@media screen and (max-width:600px) {
  .toast {
    right: 1rem;
    left: 1rem;
    transform: translateY(calc(100% + -15rem));
    top: -8%;
  }

  .toast.active {
    transform: translateY(100%);
  }
}