html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #e7ecf0;
}

.header {
  background-color: #fff;
  box-shadow: 0rem 1.5rem 1rem -1.5rem #70707042;
}

.header-content {
  display: flex;
  /* max-width: 115rem; */
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: #667580;
  font-size: 1.2rem;
}

.right-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.right-header a {
  color: #667580;
  text-decoration: none;
  margin-right: 2rem;
}
.avatar {
  position: relative;
}
.avatar:hover .setting {
  display: block;
}
.avatar_wrap {
  display: flex;
  align-items: center;
}
.avatar img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  margin-right: 0.7rem;
}
.setting {
  width: 100%;
  min-width: 16rem;
  position: absolute;
  padding: 0.1rem;
  background-color: #fff;
  box-shadow: 0rem 0.3rem 0.4rem 0.1rem rgba(0, 0, 0, 0.398);
  list-style: none;
  top: 3.6rem;
  display: none;
}
.avatar_wrap:hover {
  cursor: pointer;
}
.setting li {
  text-transform: capitalize;
}
.setting li a {
  display: block;
  margin: 0;
  padding: 1rem;
}

.setting li:hover {
  background-color: rgba(171, 162, 162, 0.842);
  border-radius: 0.3rem;
  cursor: pointer;
}
.setting li:hover a {
  color: black;
}

.setting::before {
  content: "";
  width: 100%;
  height: 20%;
  position: absolute;
  top: -1rem;
  left: 0rem;
}
/* button chung */
.button-35 {
  /* width: 13rem;
  height: 5rem; */
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 1rem;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  /* display: inline-flex; */
  font-family: Inter, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 9px;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-35:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}
/* responsive */
@media screen and (max-width: 600px){
  .header{
    display: flex;
    top: 0;
    left: 0;
    right: 0;
}

.right-header > a{
    display: none;
}
.avatar_wrap > p{
    display: none;
}
.setting{
    right: -13%;
}
.avatar:hover .setting{
    display: none;
}
}