* {
  padding: 0;
  margin: 0;
}
.login-box {
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40rem;
  padding: 4rem;
  transform: translate(-50%, -50%);
  /* background: rgba(24, 20, 20, 0.987); */
  box-sizing: border-box;
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.6rem;
  /* color: #fff; */
  margin-bottom: 3rem;
  border: none;
  border-bottom: 0.1rem solid #000;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  font-size: 1.6rem;
  /* color: #fff; */
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -2rem;
  left: 0;
  color: #bdb8b8;
  font-size: 1.2rem;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  color: rgb(98, 98, 232);
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 4rem;
  letter-spacing: 0.4rem;
  cursor: pointer;
}

.login-box a:hover {
  border-radius: 0.5rem;
  background: #c2c2c2;
}

.login-box a span {
  position: absolute;
  display: block;
}
.control{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-box form a.quen_mk{
  padding: 0.4rem 1rem;
  margin: 0;
  overflow: inherit;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}
.quen_mk{
  float: right;
}
@media screen and (max-width:600px) {
  .login-box{
    width: 95%;
  }
}


.eye{
  position: absolute;
  right: 1rem;
  top: 20%;
  font-size: 15px;
  cursor: pointer;
  display: none;
}