html {
  font-size: 62.5%;
}
body {
  background-color: #e7ecf0;
  margin: 0;
}

/* css table */
table *{
  margin: 0;
  padding: 0;
}
table, th, td {
  border: 1px solid #aeaeae;
  border-collapse: collapse;
  font-weight: 600;
}
tr{
  min-height: 5rem;
}
th{
  font-size: 2rem;
  padding: 1rem;
}
td{
font-size: 1.6rem;
text-align: center;

}
th {
  background-color: rgb(206, 206, 206);
}
tr:nth-child(even) {
  background-color: rgb(241, 241, 241);
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
td:nth-child(1){
  text-align: left;
  padding: 1.2rem 0px 1.2rem 1.5rem;
}
td:nth-child(2){
  font-weight: bold;
}

tr:nth-child(13), tr:nth-child(28), tr:nth-child(33), tr:nth-child(41), tr:nth-child(42){
  color: rgb(255, 75, 75);
  font-size: 1.8rem;
}
td .title{
  font-size: 2rem;
  font-weight: bold;
}





.main-content {
  border-radius: 0.8rem;
  background-color: #fff;
  width: 115.5rem;
  max-width: 95%;
  margin-top: 30px;
}
.tittle-table {
  margin: 0;
  padding: 3rem 0;
  font-size: 4rem;
  text-align: center;
}




.modal_wrap_img_item:hover p {
  top: 70%;
}
.modal_wrap_img_item:hover .up-img-btn {
  z-index: 3;
}

.modal_wrap_img_item p {
  position: absolute;
  z-index: 4;
  top: 100%;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  transition: 0.3s top ease-in-out;
  background-color: #aeaeae;
}

.modal_wrap_img_item {
  width: 20rem;
  height: 20rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 0.2rem dashed black;
}

.up-img {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 0.8rem;
  /* border: 0.2rem dashed black; */
  outline: none;
  cursor: pointer;
  margin: 0;
  z-index: 2;
  position: absolute;
}

.up-img:active {
  background: #9d9d9d;
}

.button-35.up-btn {
  padding: 1rem 4rem;
}
.post-btn{
  display: none;
}

.up-img i {
  font-size: 2rem;
  color: #515050;
}
.row_type_1 {
  background-color: #f1f1f1;
  font-size: 1.5rem;
}

.row_type_2 {
  font-size: 1.5rem;
}

.comboMark {
  padding: 0;
  justify-content: center;
  border: 0.075rem solid;
}





.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: #aeaeaebf;
}

/* CSS cho dialog thêm ảnh */
.modal_wrap {
  position: relative;
  bottom: 45rem;
  top: 50%;
  left: 50%;
  position: absolute;
  max-width: 90rem;
  width: 100%;
  height: 50rem;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.close-dialog {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.drop_img {
  width: 4.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0.1rem 0.1rem 0, 3rem rgba(0, 0, 0, 0.15);
  float: right;
  position: relative;
  justify-content: center;
  font-size: 2rem;
  color: #5c5c5c;
  border-radius: 0.8rem;
  transition: background 0.3s ease-in-out;
}

.complete_img {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1rem 1rem 0;
}

.drop_img:hover {
  background: #9e9e9e;
  color: white;
}

.row-type {
  text-align: center;
}

.row-type th:first-child {
  text-align: left;
  padding-left: 1rem;
  min-height: 5rem;
}

.modal_wrap {
  border-radius: 0.8rem;
}

.modal_img {
  margin-top: 4rem;
  height: 80%;
  overflow: auto;
}

.no-img {
  text-align: center;
  font-size: 2rem;
}

.modal_wrap_img {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border-radius: 0.5rem;
}

.description {
  width: 50%;
}

.up-img-description {
  width: 68%;
  /* height: 40%; */
  border: 0.1rem solid;
  border-radius: 0.8rem;
  padding: 1rem 2rem;
  box-sizing: border-box;
  font-size: 1.7rem;
}

textarea::placeholder {
  font-size: 1.5rem;
}

.up-img-btn {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #667580;
  cursor: pointer;
}

.modal_img_btn {
  background-color: #aeaeae;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}

.modal_img_btn button {
  padding: 1rem 4rem;
}
.done-btn:last-child {
  margin: 0;
}

/* css check box */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.2s ease;
  display: inline-block;
}

.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 0.4rem;
  transform: scale(1);
  border: 0.1rem solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 0.1rem 0.1rem rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 0.3rem;
  left: 0.2rem;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1.6rem;
  stroke-dashoffset: 1.6rem;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 0.8rem;
  line-height: 1.8rem;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #c2c2c2;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: rgb(143, 213, 229);
  border-color: #c2c2c2;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

/*------------------- combo box -------------------*/
td .select select{
  background-color: inherit;
  padding: 0;
}
td .select::after{
  top: 6%;
  right: 20%;
}

.m-auto {
  margin: 3rem auto 6rem;
}
.mdl-js {
  background-color: #e7ecf0;
}
