/* responsive */
@media screen and (max-width: 600px) {

    /* an 4 5 */
    th:nth-child(4),
    th:nth-child(5),
    td:nth-child(4),
    td:nth-child(5) {
        display: none;
    }

    .select {
        overflow: inherit;
    }

    .select::after {
        top: 1.4rem;
        right: 38%;
    }

    .modal_wrap_img {
        /* height: 14.5rem; */
        flex-wrap: wrap;
    }

    .up-img-description {
        width: 55%;
    }

    .drop_img {
        width: 100%;
        margin-top: 20px;
        padding: 10px;
        background-color: #dccece;
    }

    .button-35:hover {
        color: #000;
        box-shadow: unset !important;
    }

    .button-35:active {
        background: #9e9e9e;
        color: white;
        box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0 !important;
    }

    .modal_wrap_img_item {
        width: 40%;
        height: 14rem
    }

    .m-auto {
        margin: 3rem auto 9rem auto;
    }


    .menu1 {
        top: 75%;
        right: 83%;
    }
    .menu1.open{
        opacity: 1;
    }

    .menu1.open .hope_star:first-of-type {
        color: red;
        bottom: -7rem;
        right: -3rem;
    }

    .menu1.open .hope_star:nth-of-type(2) {
        color: yellow;
        bottom: 0rem;
        right: -8rem;
        transition-delay: 0.05s;
    }

    .menu1.open .hope_star:last-of-type {
        color: green;
        bottom: 7rem;
        right: -3rem;
        transition-delay: 0.1s;
    }
    .tr-title td:nth-of-type(1n+0){
        border: 0;
    }
    .tr-title td:first-child{
        border: 1px solid #aeaeae;
    }

    .foot_modal .modal_wrap{
        background-color: var(--primColor);
        height: auto!important;
        width: 100%;
        position: absolute;
        /* top: auto; */
        left: auto;
    }
    .foot_modal .modal_wrap {
        position: relative;
        bottom: 0;
        top: unset;
        left: 50%;
        position: absolute;
        max-width: 90rem;
        width: 100%;
        height: fit-content;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding-bottom: 50px;
    }
    .complete_img{
        gap: 20px;
    }
    .button-35{
        margin: 0 !important;
    }

}