html {
  font-size: 62.5%;
}
.tittle-table {
  padding: 30px 0;
}
.th-01 {
  background-color: #dcdcdc;
  font-size: 1.8rem;
  text-align: center;
}

tr {
  border: 1px solid;
}
.up-img {
  margin: 20px;
}

th {
  border: 1px solid #aeaeae;
  /* padding-left: 10px; */
}
tbody {
  text-align: left;
}

.row_type_1 {
  background-color: #f1f1f1;
  font-size: 1.5rem;
}
.row_type_2 {
  font-size: 1.5rem;
}

.comboMark {
  padding: 0;
  justify-content: center;
  border: 0.75px solid;
}

/* up img button */

.up-img {
  width: 15rem;
  /* height: 15rem; */
  background: transparent;
  border-radius: 0.5rem;
  border: 2px dashed black;
  outline: none;
  cursor: pointer;
  margin: 0;
}

.up-img:active {
  background: #9d9d9d;
}

.up-btn {
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
}

.up-img i {
  font-size: 2rem;
  color: #515050;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: #aeaeaebf;
}
/* CSS cho dialog thêm ảnh */
.modal_wrap {
  position: relative;
  bottom: 45rem;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 60rem;
  height: 50rem;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.close-dialog {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.row-type {
  text-align: center;
}
.row-type th:first-child {
  text-align: left;
  padding-left: 1rem;
  min-height: 5rem;
}

.modal_img {
  margin-top: 20px;
  height: 80%;
}
.modal_wrap_img {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.description {
  width: 50%;
}
.up-img-description {
  width: 50%;
  border: 1px solid;
  border-radius: 1rem;
  padding: 10px 2rem;
  box-sizing: border-box;
}

.modal_img_btn {
  background-color: #aeaeae;
  height: 16%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.modal_img_btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  background-color: #515050;
  color: #fff;
  text-align: center;
  margin-right: 20px;
  width: 90px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
}

/* css check box */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  /* overflow: hidden; */
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #c2c2c2;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #c2c2c2;
  border-color: #c2c2c2;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

th:nth-child(2) {
  text-align: center;
}
th:nth-child(3) {
  text-align: center;
}
