html {
  font-size: 62.5%;
}
.header {
  background-color: #fff;
  box-shadow: 0px 15px 10px -15px #70707042;
}
.header-content {
  display: flex;
  /* max-width: 1150px; */
  justify-content: space-around;
  align-items: center;
  color: #667580;
  font-size: 1.2rem;
}
.right-header {
  display: flex;
  align-items: center;
}
.right-header a {
  color: #667580;
  text-decoration: none;
  margin-right: 2rem;
}
.avatar img {
  height: 30px;
  border-radius: 50%;
}
.tittle-table {
  padding: 30px 0;
}
.th-01 {
  background-color: #dcdcdc;
  font-size: 1.8rem;
  text-align: center;
}

tr {
  border: 1px solid;
}

.modal_wrap_img_item{
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.modal_wrap_img_item:hover p{
  top: 70%;

}
.modal_wrap_img_item p{
  margin: 0 1.4px;
  position: absolute;
  top: 100%;
  font-size: 1.3rem;
  padding: 10px 20px;
  transition: 0.3s top ease-in-out;
  background-color: #aeaeae;
}

th {
  border: 1px solid #aeaeae;
  /* display: block; */
  /* padding-left: 10px; */
}
tbody {
  text-align: left;
}

.row_type_1 {
  background-color: #f1f1f1;
  font-size: 1.5rem;
}
.row_type_2 {
  font-size: 1.5rem;
}

.comboMark {
  padding: 0;
  justify-content: center;
  border: 0.75px solid;
}

/* up img button */

.up-img {
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 0.5rem;
  border: 2px dashed black;
  outline: none;
  cursor: pointer;
  margin: 0;
  /* z-index: 1; */
  position: absolute;
}

.up-img:active {
  background: #9d9d9d;
}

.up-btn {
  margin-top: 4rem;
  padding: 1rem 4rem;
  font-size: 2rem;
  background-color: #000;
  color: #fff;
}

.up-img i {
  font-size: 2rem;
  color: #515050;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  background-color: #aeaeaebf;
}
/* CSS cho dialog thêm ảnh */
.modal_wrap {
  position: relative;
  bottom: 45rem;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 60rem;
  height: 50rem;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
}

.close-dialog {
  position: absolute;
  top: 0rem;
  right: 0rem;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.row-type {
  text-align: center;
}
.row-type th:first-child {
  text-align: left;
  padding-left: 1rem;
  min-height: 5rem;
}

.modal_img {
  margin-top: 40px;
  height: 80%;
}
.modal_wrap_img {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.description {
  width: 50%;
}
.up-img-description {
  width: 60%;
  /* height: 40%; */
  border: 1px solid;
  border-radius: 1rem;
  padding: 10px 2rem;
  box-sizing: border-box;
  font-size: 1.7rem;
}

textarea::placeholder{
  font-size:2rem;
}

.up-img-btn{
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 3rem;
  color: #667580;
}

.modal_img_btn {
  background-color: #aeaeae;
  height: 16%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_img_btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  background-color: #515050;
  color: #fff;
  text-align: center;
  margin-right: 20px;
  width: 90px;
  height: 50px;
  font-size: 15px;
  border-radius: 10px;
}
/* css check box */
.checkbox-wrapper-4 * {
  box-sizing: border-box;
}

.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  border-radius: 6px;
  /* overflow: hidden; */
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #c2c2c2;
}

.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: rgb(143, 213, 229);
  border-color: #c2c2c2;
  animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}

@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}

/*------------------- combo box -------------------*/
.select select {
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  flex: 1;
  padding: 0 1em;
  background-image: none;
  background-color: rgb(97, 115, 133);
  color: #fff;
  cursor: pointer;
}

.select {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: .25em;
  overflow: hidden;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: rgb(97, 115, 133);
  transition: .25s all ease;
  pointer-events: none;
}

.select:hover::after {
  color: #f39c12;
}

th:nth-child(2) {
  text-align: center;
}
th:nth-child(3) {
  text-align: center;
}
