  html {
    font-size: 62.5%;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
  }

  body {
    background-color: #e7ecf0;
  }

  /* css tra cứu */
  .tra_cuu,
  .submit-mark {
    margin-top: 2rem;
    max-width: 90rem;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.8rem;
  }

  .tra_cuu .content,
  .submit-mark .content {
    padding: 1rem;
  }

  .tra_cuu .content h2,
  .submit-mark .content h2 {
    font-size: 2.6rem;
    margin-bottom: 1.2rem;
  }

  .tra_cuu .content p {
    display: inline-block;
    font-size: 1.8rem;
  }

  .button {
    padding: 1rem;
    background-color: white;
  }

  .button .button-1 {
    margin-top: 2rem;
    padding: 0.5rem;
  }