* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.title {
    max-width: 40rem;
    margin: auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
}

.title h3 {
    font-weight: bold;
}
.title p {
    font-size: 16px;
    color: #118a44;
}
.title p.msg {
    color: initial;
    text-align: initial;
    font-weight: bold;
}
.otp-input-fields {
    margin: auto;
    background-color: white;
    box-shadow: 0px 0px 8px 0px #020250 44;
    max-width: 50rem;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 4rem;
}
.otp-input-fields input {
    height: 6rem;
    width: 6rem;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #2f8f1f;
    text-align: center;
    outline: none;
    font-size:3rem;
   /* Firefox */
}
.otp-input-fields input::-webkit-outer-spin-button, .otp-input-fields input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-input-fields input[type="number"] {
    -moz-appearance: textfield;
}
.otp-input-fields input:focus {
    border-width: 2px;
    border-color: #287a1a;
    font-size: 20px;
}
.result {
    max-width: 500px;
    margin: auto;
    /* padding: 24px; */
    text-align: center;
}
.otp_again{
    display: block;
    margin: 2% 0 0 80%;
    font-size: 15px;
    cursor: pointer;
}
.otp_again:hover{
    opacity: .7;
    text-decoration: underline;
}
.result p {
    font-size: 24px;
    font-family: "Antonio", sans-serif;
    opacity: 1;
    transition: color 0.5s ease;
}
.result p._ok {
    color: green;
}
.result p._notok {
    color: red;
    border-radius: 3px;
}
.button-35{
    width: 200px;
    height: 55px;
}